In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\vinui\OneDrive\Desktop\Project\data\raw\NBASeasonData.csv")
df

,Year,Tm,Player,Age,Games,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%
0,2011,GSW,Monta Ellis,25,80,3227,18.6,0.536,0.235,0.268,1.5,8.5,4.9,23.4,2.6,0.5,12.3
1,2011,POR,LaMarcus Aldridge,25,81,3211,21.5,0.549,0.016,0.314,10.1,17.2,13.5,10.1,1.4,2.4,8.7
2,2011,CHI,Luol Deng,25,82,3208,15.5,0.549,0.288,0.291,4.4,12.8,8.7,11.9,1.3,1.1,10.7
3,2011,GSW,Dorell Wright,25,82,3147,15.0,0.539,0.450,0.199,3.1,12.6,7.8,11.6,2.0,1.5,9.6
4,2011,LAC,Blake Griffin,21,82,3112,21.9,0.549,0.017,0.505,10.2,26.9,18.6,18.7,1.0,1.1,11.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3101,2016,ATL,Walter Tavares,23,2,2,24.5,0.568,0.000,0.000,57.8,0.0,27.9,0.0,0.0,0.0,0.0
3102,2016,IND,Shayne Whittington,24,1,2,-64.6,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,100.0
3103,2016,IND,Solomon Hill,24,1,2,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3104,2016,UTA,Jeff Withey,25,1,1,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3105,2016,CHI,Cristiano Felicio,23,1,1,35.3,0.000,0.000,0.000,0.0,0.0,0.0,100.0,0.0,0.0,0.0